

* {
<--!  text-align:center; -->
}

  #header {
  background-color: black;
  color: white
}

  #header-img {
  width: 20%;
}


  #video{

}

  #about-section {

}

  #content {
  color:white;
  background-color: blue;
}



#nav-bar {
color:white;
text-align: right;
font-size: 3vw;

}


.center {
  margin: auto;
  width: 50% ;
  padding: 10px;
  text-align:center;
}

.align-right {
  text-align: right;
}



.column {
  float: left;
  width: 33.3%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
