

* {
font-family: sans-serif;
}

h2 {
  text-align: center;
  text-decoration: underline;


}

  h3 {
    text-decoration: underline;
  }

  a {
    color:blue
  }

  a:visited {
    color: green
  }




  label {
    text-decoration: underline;
  }

  #header {
  background-color: black;
  color: white;
  position: fixed; top: 0;
  width: 100%
}

  #header-img {
  width: 12%;
}


  #video-section{
    padding-top: 10vw;

}

  #about-section {

}

  #content {
  color:white;
  background-color: blue;
  padding: 16px;
}

#footer{
  text-align: center;
  color: white;
  background-color: black;
}

#placeholder{
  text-align: center;

}

#nav-bar {
color:white;
text-align: right;
font-size: 2vw;

}

#contact {
background-color: black;
color: white;

}


@media (min-width: 1200px) {
  #content {
      padding: 5px;
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + #content {
  padding-top: 102px;
}

.flex-container-services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex: 1 1 0px;
  background-color: grey;


}

.flex-container-price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: grey;

}
.flex-container-process-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex: 1 1 0px;
  background-color: grey;

}

.flex-container-video {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-container-video-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  border: 1px solid black;
}

.flex-heading {
  text-decoration: underline;
}

.flex-container-process-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

}

.center {
  margin: auto;
  width: 50% ;
  padding: 10px;
  text-align:center;
}

.align-right {
  text-align: right;
}
